<html>
  <% if @favorites != nil %>
  <div>
    <%= form_tag "favorites/", :method => :delete do %>
    <hr>
    <% @favorites.each do |f| %>
    <div>
    <%= hidden_field_tag 'tweets[][id]', f.id %>
    <%= check_box_tag 'tweets[][flag]' %>
    <br>
    <%= image_tag f.user.profile_image_uri %>
    <%= f.user.name %>
    <a href=<%= f.user.uri  %> target="_blank">@<%= f.user.screen_name %></a>
    <%= f.created_at.strftime "%Y/%m/%d %H:%M" %>
    <br>
    <%= auto_link f.text, html: {target: "_blank"} %>
    </div>

    <br>

    <% if f.media? %>
    <div>
    <% f.media.each do |m| %>
    <a href= <%= m.media_url %> download >
      <%= image_tag m.media_url, :height => "320", :width => "auto" %>
    </a>
    <% end %>
    </div>
    <% end %>

    <hr>
    <% end %>
    <%= submit_tag "unfavorite" %>
    <% end %>
  </div>
  <% end %>
</html>
